site_name: pkgman
site_url: https://cagojeiger.github.io/pkgman
site_description: 에어갭 환경을 위한 패키지 관리자
repo_url: https://github.com/cagojeiger/pkgman
repo_name: cagojeiger/pkgman

theme:
  name: material
  language: ko
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.instant
    - navigation.tracking
    - navigation.top

markdown_extensions:
  - tables
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - bintools: bintools.md
  - rpmtools: rpmtools.md
